// variables
$white-color: #fff;


// breakpoints
$too-small-mobile: 322px;
$mid-small-mobile:340px;
$small-mobile: 376px;
$mid-mobile:500px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$mid-desktop: 1450px;
$large-desktop: 1700px;
