* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    overflow-x: hidden;

}

body {
    color: #404040; /* Setting a default text color */
}

.container {
    width: 90%; /* Adjusted width for better readability */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Added padding for better spacing */
}

.head {
    color: navy;
    font-weight: 600;
    text-align: center; /* Center align the heading */
    margin-bottom: 20px; /* Added spacing below the heading */
}

.blue {
    font-weight: 600;
}

.form {
    margin-top: 40px; /* Adjusted margin for better spacing */
}

.input {
    text-align: center;
    border-radius: 8px;
    padding: 10px; /* Increased padding for better touch experience */
    border: 1px solid #dadcdb;
    font-size: 1em;
    background: #fff;
    width: 100%;
    margin-bottom: 10px; /* Added spacing between input elements */
}

.button {
    background: #003366;
    border: 0;
    color: #fff;
    font-size: 1rem;
    padding: 12px; /* Increased padding for better touch experience */
    border-radius: 8px;
    cursor: pointer;
    width: fit-content; /* Make the button full width */
}

#submit {
    text-align: center; /* Center align the submit button */
    margin-bottom: 20px; /* Added spacing below the submit button */
}

.bold {
    font-weight: 700;
    font-size: medium;
}

/* Added styles for better visualization of results */
.Output, .Results, .optionResult {
    margin-bottom: 10px;
}

.optionResult {
    display: flex;
    justify-content: space-between;
}

/* Added hover effect for links */
a {
    color: #003366;
}

a:hover {
    text-decoration: underline;
}

@media (min-width:300px) and (max-width : 940px){
    .head {
        color: navy;
        font-size: 1.8rem;
        font-weight: 300;
        text-align: center; /* Center align the heading */
        margin-bottom: 20px; /* Added spacing below the heading */
    }
}
