
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-image: linear-gradient(lightblue,darkblue);
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #004080;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
}

input[type="radio"] {
    margin-right: 5px;
}

.submitbtn {
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 5rem;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}

.submitbtn input{
        background-color: #0066cc;
        border: none;
        color: #fff;
        font-size: 1rem;
}

.submitbtn:hover {
    background-color: #004080;
}

.submitbtn input:hover {
    background-color: #004080;
}

.options{
    align-items: center;
    display: flex;
    margin: 20px 0px 20px 10px;
}